<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Servicios.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Servicios.Settings1>
			<setting name="cuerpo" serializeAs="String">
				<value>
					&lt;div style="display: flex; justify-content: center; display:flex; flex-direction: column; algin-content: center"&gt;
					&lt;div style= "background-color:rgba(0, 0, 0, 0.3);  border-radius: 25px;
					border: 2px;
					padding: 20px;
					width: 600px;
					height: 150px;"&gt;
					&lt;h3 style= "color: white"&gt;
					Gracias por ponerte en contacto con nosotros
					&lt;/h3&gt;
					&lt;/div&gt;
					&lt;div style="display: flex; justify-content: center; display:flex; flex-direction: column; algin-content: center"&gt;
					&lt;div style= "background-color:rgba(0, 0, 0, 0.3);  border-radius: 25px;
					border: 2px;
					padding: 20px;
					width: 600px;
					height: 150px;"&gt;
					&lt;h3 style= "color: white"&gt;
					Gracias por ponerte en contacto con nosotros
					&lt;/h3&gt;
					&lt;/div&gt;
					&lt;/div&gt;
				</value>
			</setting>
		</Servicios.Settings1>
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
